<!DOCTYPE html>
<html>
  <head>
    <title>ComicSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="black" role="navigation">
      <div class="nav-wrapper container"><%= link_to "Logo", root_path, class: "brand-logo", id: "logo-container"%> 
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "New Comic", new_comic_path %></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><%= link_to "New Comic", new_comic_path %></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons"></i></a>
      </div>
    </nav>
    <%= yield %>
    <footer class="page-footer orange">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            
            


          </div>
          <div class="col l3 s12">
            
          </div>
          <div class="col l3 s12">
            
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        
      </div>
    </footer>
  </body>
</html>
